div[class^="default"]:has(.pingDisplay) {
    display: flex;
    gap: 3px;
}

div:has(.pingDisplay) > div:not(.pingDisplay) {
    text-overflow: ellipsis;
    overflow: hidden;
}

.pingDisplay {
    color: inherit;
}