div[class^="flex_"][class*="connection_"],
div[class^="rtcConnectionStatus_"],
div[class^="inner_"]:has(div[class^="rtcConnectionStatusWrapper_"]) {
    height: fit-content !important;
}

div[class^="default"]:has(.pingDisplay) {
    display: flex;
    gap: 3px;
}

div[class^="default"]:has(.pingDisplay) :first-child {
    text-overflow: ellipsis;
    overflow: hidden;
}

.pingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    margin-right: 7px;
}

.pingContainer > svg {
    margin: 0 !important;
}

.pingDisplay {
    text-align: center;
}