div[class^="container_"] > div[class^="flex_"][class*="connection_"],
div[class^="rtcConnectionStatus_"],
div[class^="inner_"]:has(> div[class^="rtcConnectionStatusWrapper_"]) {
    height: fit-content;
}

div[class^="default"]:has(> div.pingDisplay) {
    display: flex;
    gap: 3px;
}

div[class^="default"]:has(> div.pingDisplay) > div[class^="text-md/medium"] {
    text-overflow: ellipsis;
    overflow: hidden;
}

.pingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    margin-right: 7px;
}

.pingContainer > svg[class^="ping_"] {
    margin: 0;
}

.pingDisplay {
    text-align: center;
}